@font-face {
    font-family: 'Akira';
    src: url(Fonts/Akira\ Expanded\ Demo.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geoform';
    src: url(Fonts/Geoform-Medium.otf);
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    position: fixed;
    margin: 0;
    height: 100%;
    width: 100%;
}

#main {
    display: flex;
    background-color: rgb(3, 3, 3);
    position: fixed;
    margin: 0;
    top: 5%;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

#panel {
    display: flex;
    height: 5%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-bottom: .5px solid rgba(255, 255, 255, .1);
    position: fixed;
    align-items: center;
    justify-content: center;
    gap: 10px 10px;
}

#logo {
    position: fixed;
    scale: 15%;
    right: 76.3%;
}

.button {
    background-color: rgb(15, 15, 15);
    color: white;
    font-family: 'Geoform', sans-serif;
    font-size: medium;
    border: .0001px solid rgba(255, 255, 255, .1);
    stroke: 100px;
    cursor: pointer;
    padding: .4%;
    border-radius: 5px;
    transition: all .3s ease;
}

.button:hover {
    transform: scale(105%);
    background-color: rgb(255, 104, 17);
    box-shadow: 0 0 10px 3px rgba(255, 87, 9, 0.5);
}

.button:active {
    transform: scale(97%);
    background-color: rgb(212, 87, 14);
}

#stars {
    position: fixed;
    display: flex;
    background-color: rgb(3, 3, 3);
    position: fixed;
    margin: 0;
    top: 5%;
    bottom: 50%;
    height: 100%;
    width: 100%;
    filter: blur(1px) saturate(200%) grayscale(50%);
    z-index: 2;
}

#bottom {
    position: fixed;
    height: 100%;
    width: 100%;
    margin-top: 55%;
    border-top: .5px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, .8);
    z-index: 3;
}

#slogan {
    position: fixed;
    height: 100px;
    width: 1000px;
    text-align: center;
    z-index: 4;
    top: 30%;
    font-family: 'Akira', sans-serif;
    font-size: 300%;
    color: white;
    text-shadow: 0 0 30px black;
}

#info {
    display: flex;
    position: fixed;
    padding: 20px 50px;
    top: 43%;
    z-index: 4;
    font-family: 'Geoform', sans-serif;
    font-size: xx-large;
    background-color: rgb(255, 104, 17);
    box-shadow: 0 0 10px 3px rgba(255, 87, 9, 0.5);
    align-items: center;
    justify-content: center;
}

#link {
    position: fixed;
    padding: 20px 50px;
}

#info:active {
    background-color: rgb(212, 87, 14);
}

#title {
    position: fixed;
    height: 100px;
    width: 1000px;
    text-align: center;
    z-index: 4;
    font-family: 'Akira', sans-serif;
    font-size: 250%;
    color: white;
    text-shadow: 0 0 30px black;
}